<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Nokia//DTD PLIST 1.0//EN" "http://www.nokia.com/DTDs/plist-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DisplayName</key>
    <string>Do3aa</string>
    <key>Identifier</key>
    <string>com.Do3aa.basic.widget</string>
    <key>MainHTML</key>
    <string>index.html</string>
    <key>AllowNetworkAccess</key>
    <true/>
    <key>Version</key>
    <string>4.0</string>
    <key>MiniViewEnabled</key>
    <true/>
  </dict>
</plist>